a, button :hover
[role="button"] {
  cursor: grab;
}

a, button :active
[role="button"] {
  /* cursor: grabbing; */
}


/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}



.hide {
  display: none;
}

.show{
  display:flex;
}
