a, button :hover
[role="button"] {
  cursor: grab;
}

a, button :active
[role="button"] {
  /* cursor: grabbing; */
}

:disabled {
  cursor: default;
}


.hide {
  display: none;
}

.show{
  display:flex;
}

